.container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-gap: 10px; 
    border: 1px solid black;
}

header, footer, .big, .thum-image, .sidebar{
    background: thistle;

}



@media (min-width: 911px){
  .container section {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr 100px;
    grid-gap: 10px;
    grid-template-areas: ". one"
                         ". one"

}
 section>div:nth-child(3){
     grid-area: one;
 }
 
  .thum{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; 
      grid-gap: 10px;  
  }

}


@media(max-width: 910px) {
    section{
        background: thistle;
        
    }

}