* {
    margin: 0px; padding: 0px;
}
div{
    width: 100%;
    height: 100%;
    background-image: url("quiz.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}
html, body {
    height: 100%;
}
a: