* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
}

.table{
  width: 100%;
  border-collapse: collapse;
  
}
 th{
   text-align: left;
 }

 td{
  border-top: 1px solid bcbcbc;
  text-align: center;

}
