* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
}

.table{
  width: 100%;
  border-collapse: collapse;
  
}

 tr{
  border-top: 1px solid grey;

}
