* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 30px auto;
  text-align: center;
}

table{
  width: 100%;
}

.table td{
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}