body {
    background:rgb(255, 255, 185);

}

.container > div:nth-child(1) {
    background: #af52aa;
}
.container > div:nth-child(2) {
    background: #a5274a;
}


@media(max-width: 800px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px;
        grid-gap: 10px;
    }   
}

