div {
    position: relative;
    width: 200px; height: 200px;
    background: red;





}


@keyframes myexam{
0%{ top: 0px;
    left:0px;
}
25%{
    border-radius: 50%;
    top: 0px;
    right: 500px;
}
50%{
    border-radius: 100%;
    top: 500px;
    left: 0px;
}
75%{
    top: 500px;
    right: 500px;
}
100%{
    top: 0px;
    left: 0px;}


}