div {
    position: relative;
    width: 200px; height: 200px;
    background: red;





}


@keyframes myexam{
0%{ top: 0px;
    left:0px;
}
25%{
    top: 0px;
    right: 500px;
}
50%{
    top
}
75%{}
100%{left: 0px;}


}