 .container {

     width: 500px;
     height: 800px;
     display: grid;
     border: 1px solid black;
     grid-gap: 30px;
     grid-template-rows: 100px 1fr 100px;
}

{
    border: 1px solid black;
    background: blueviolet;
    grid-gap: 30px;

    
    
}



