 .container {
      display: grid;
     grid-template-rows: repeat(3, 300px);
     border: 1px solid black;
     grid-gap: 30;
}

header, footer{
    border: 1px solid black;
    grid-area: 80px 1fr 80px;
}



