.container{
    
        
    
}


header{
    grid-area: 1/ span 4;
}


section div{
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0px;
        border: 1px solid black;
        grid-template-rows: repeat(5, 80px);
}