.container{
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        border: 1px solid black;
        grid-template-rows: repeat(5, 80px);
    
}


header{
    grid-area: 1/ span 4;
}


.sidebar{
    display: 
    grid-area: 2 / span 5;
}