div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
     grid-template-rows: repeat8, 80px);
}

header {
    grid-area: 1 / span 4;
}

.thum {

}


footer {
    grid-area: 4/ span 4;
}