div {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
     grid-template-rows: repeat(8, 80px);
}

header {
    grid-area: 1 / span 4;
}

.thum {
    grid
}


footer {
    grid-area: 8/ span 4;
}