 .container {

     width: 500px;
     height: 800px;
     display: grid;
     border: 1px solid black;
     grid-gap: 50px;
     grid-template-rows: 100px 1fr 100px;
}

header, footer{
    border: 1px solid black;
    
   

    
    
}



