 .container {
      display: grid;
     grid-template-rows: repeat(3, 300px);
     border: 1px solid black;
     grid-gap: 30;
     grid-template-rows: 100px 1fr 80px;
}

header, footer{
    border: 1px solid black;
    
}



