.container{
    border: 1px solid black;
    background: #026aa7;
    height: 500px;
    
}
h2{
    color: #ffffff;
}

li{
    display: inline;
    list-style: none;
    width: 30px;
    border: 1px solid black;
    
    
    padding: 20px;

  
}