.container{
    border: 1px solid black;
    background: #026aa7;
    height: 500px;
    
}
h2{
    color: #ffffff;
    margin-bottom: 5%;
}

li{
    text-align: center;
    display: inline-block;
    list-style: none;
    
    width: 80px;
   
    
    padding: 20px;
    color: white;
    background: #2879a8;
    border-radius: 10%;

}

li:hover{
    background: #98d1f2;
    font-weight: bold;
}