
header, footer{
    border: 1px solid black;
    margin: 30px;
    flex-direction: row;
}

.img>div{
    border: 1px solid black;
    margin: 30px;
    flex-direction: row;
}

.thum div{
    
}

footer{
}

.sidebar{
    
}