
header, footer{
    border: 1px solid black;
    margin: 30px;
    display: flex;
    flex-direction: row;
}

 .container { 
     border: 1px solid black;
    margin: 30px;
    flex-direction: row;

 }

.main-img{
    
}



















































