
.container{
    width: 1000px;
    height: 300px;
    
}
div, span{
    width: 100px;
    height: 100px;

}

h2{
    text-align: center;
    border-bottom: 2px solid orange;
    width: 600px;
    margin-left: 200px;
}