.container{
    width: 1000px;
    height: 300px;
}
div, span{
    width: 100px;
    height: 100px;

}

h2{
    text-align: center;
    width: 800px;
    border-bottom: 2px solid orange;
    border-width: x;
    
}