
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid black;
    height: 200px;
    width: 400px;
    word-wrap: break-word; 
    
}
.card__thumb{
    border: 1px solid black;
    width: 30%;
}

.card__body{
    border: 1px solid black;
    margin-right: 100px;
}
.card__thumb__img { 
    border-radius: 100%;

    
}
