body{
    background: whitesmoke;
}
.card{
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
    height: 150px;
    width: 400px;
    word-wrap: break-word; 
    
}
.card__thumb{
    
    
    width: 25%;
    margin-top: 5%; margin-left: 5%;

}

.card__body{
    
    width: 60%;
 
    margin-top: -100px; 
    margin-left: 150px;
}

.card__character{
    margin-bottom: 10%;
}
.card__thumb__img { 
    margin-top: 20px; 
    width: 100px;
    height: 100px;
    border-radius: 100%;

    
}

.card:hover{
    box-shadow: 20px 20px 
}
