

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid black;
    height: 150px;
    width: 300px;
}
.card__thumb__img div{
    display: inline;
}

.card__thumb__img { 
    border-radius: 100%;

    
}
.card_body{
    display: inline;
}