div{
    width: 300px;
    height: 300px;
    border: 5px solid #345;
    background-image: url("quiz.jpg");
    background-size: cover;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;


}

div:hover{
    
}