<<<<<<< HEAD
<<<<<<< .merge_file_a18528
/* 잠시 막아뒀습니다. *{
=======
*{
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122
	margin : 0;
	padding: 0;
	list-style:none;
	text-decoration : none;
<<<<<<< HEAD
} */
=======
*{
	margin : 0;
	padding: 0;
	list-style:none;
	text-decoration : none;
=======
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122
}
/* color:#a0a3a2; */
/* font-family:times, '돋음'; */
/* font-size:19px; */
/* line-height:1.5;
box-sizing : border-box;
text-decoration : none;
box-sizing : border-box;
}
*/
<<<<<<< HEAD
>>>>>>> .merge_file_a01572
=======
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122
body { 
	/* padding-top: 120px; */
	font-family: "Noto Sans KR", sans-serif; 
    min-height:100%;
    min-width: 100%;
}

content{
    position: relative;
<<<<<<< HEAD
<<<<<<< .merge_file_a18528
    width: 100%;
=======
	width: 100%;
	top: 150px;
>>>>>>> .merge_file_a01572
=======
	width: 100%;
	top: 150px;
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122
    border: 1px solid #f99;
}

content > div{
    width: 80%;
    margin: 0 auto;

}

.note.etc2 {margin-top:20px;}


<<<<<<< HEAD
<<<<<<< .merge_file_a18528
html,body {height:100%;}
=======
/* html,body {height:100%;}
>>>>>>> .merge_file_a01572
=======
/* html,body {height:100%;}
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122
html {overflow: scroll; overflow-x: auto;}
body {
	margin:0;
	padding:0;
	font-family:Dotum,Tahoma,Arial,sans-serif;
	font-size:13px;
	color:#666;
	min-width:1088px;
}
body.popup {
	min-width:100%;
	background:#fff;
}
<<<<<<< HEAD
<<<<<<< .merge_file_a18528
=======
 */
>>>>>>> .merge_file_a01572
=======
 */
>>>>>>> e9cdc3d36168c66e49f923e58f4ffa2f9e896122


h2.title {background: #eeeeee; height: 50px; padding-top:20px; margin-bottom: 20px; text-align: left center;}

div.dvwrap {/*position:relative;*/ padding:0; margin:0 auto; width:1088px; /*height:auto !important; height:100%; min-height:100%;*/ }

.skip {display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; white-space:nowrap;}
.skip a {position:absolute; top:0; display:block; height:1px; width:1px; margin:0 -1px -1px 0; padding:0; overflow:hidden; font-size:0; line-height:0;}
.skip a:hover, .skip a:active, .skip a:focus {width:100%; height:auto; margin:0; padding:5px 0; text-align:center; font-weight:bold; font-size:12px; color:#333; font-family:Tahoma; line-height:1; background:#fff; position:absolute; z-index:9999;}

#subContent {overflow:hidden;}

/*header*/

/*gnb*/
div.gnb {padding:25px 0 0 0; min-height:45px; z-index:10;}
div.gnbbox {display:none; position:absolute; left:0; top:102px; border-top:1px solid #e2e2e2; background:url(../images/common/gnb_box.png) repeat-x 0 0; width:100%; height:216px; z-index:100; }
	div.gnb img {vertical-align:middle;}
	div.gnb ul.menus {margin:0; padding:0; float:right;}
	div.gnb ul.menus li {float:left; padding:0; line-height:0;}
	div.gnb ul.menus li a {display:inline-block; height:45px; overflow:hidden; }
	div.gnb ul.menus li a:hover img,
	div.gnb ul.menus li.selected img {margin:-45px 0 0 0; vertical-align:middle;}

	div.gnb ul.menus li span.pic {display:none; position:absolute; top:103px; z-index:101;}
	div.gnb ul.menus li span.pic img {margin:0;}
		div.gnb ul.menus li span.pic.mg01 {margin-left:-303px;}
		div.gnb ul.menus li span.pic.mg02 {margin-left:-420px;}
		div.gnb ul.menus li span.pic.mg03 {margin-left:-538px;}
		div.gnb ul.menus li span.pic.mg04 {margin-left:-655px; margin-top:-2px;}
		div.gnb ul.menus li span.pic.mg05 {margin-left:-774px; margin-top:-1px;}
		div.gnb ul.menus li span.pic.mg06 {margin-left:-893px; margin-top:-2px;}
	div.gnb ul.menus li.selected span.pic {display:block;}

		div.gnb ul.menus li ul {display:none; position:absolute; margin-top:-1px; top:103px; height:199px; width:150px; padding-top:10px; border-left:1px solid #e2e2e2; z-index:101;}
		div.gnb ul.menus li ul li {float:none; padding:0 0 0 15px; line-height:22px; background:none; }
		div.gnb ul.menus li ul li a {display:inline; color:#4e4e4e; height:22px;}
		div.gnb ul.menus li ul li a:hover,
		div.gnb ul.menus li ul li.selected a {color:#054184; font-weight:bold; background:none; text-decoration:underline;}
		div.gnb ul.menus li ul.gnb06 {width:210px;}



/*quick*/
div.quick {margin-top:102px; height:100%; bottom: 0; position:fixed; z-index:99; right:0; top:0; padding-left:1px; background:url(../images/common/quick_bg.gif) repeat-y 0 0;}
.cock {position:absolute; top:40px; left:-14px; cursor:pointer;}
div.quick2 {display:none;}
div.quick1, div.quick2 {border-top:1px solid #dcdcdc;}

div.quick ul {}
div.quick ul li {border-bottom:1px solid #dcdcdc;}
div.quick div.top {padding-top:10px; text-align:center;}


/*input*/
input.txt {padding-left:10px; height:23px; line-height:25px; color:#000; font-weight:bold; font-size:12px; font-family:Gulim; border:1px solid #d4d4d4;}
input.txts {padding-left:10px; height:23px; line-height:25px; color:#000; font-weight:bold; font-size:12px; font-family:Gulim; border:1px solid #d4d4d4; border-right:0;}
textarea.txt2 {border:1px solid #d4d4d4; padding:10px;}
img.bts { vertical-align:middle; margin-left:-4px;}

span.input1 {display:inline-block; height:25px; padding:0 25px 0 10px; line-height:25px; color:#a0a0a0; font-size:12px; border:1px solid #d4d4d4; background:#e2e2e2 url(../images/common/input01.gif) no-repeat right 0;}
span.input2 {display:inline-block; height:25px; padding:0 26px 0 9px; line-height:25px; color:#a0a0a0; font-size:12px; border:1px solid #d4d4d4; background:#e2e2e2 url(../images/common/input02.gif) no-repeat right 0;}


/*space*/
.spaces5 {margin-top:5px !important;}
.space0 {margin-top:0 !important;}
.space1 {margin-top:10px !important;}
.space2 {margin-top:20px !important;}
.space3 {margin-top:30px !important;}
.space4 {margin-top:40px !important;}
.space5 {margin-top:50px !important;}

.point1 {color:#ff0000 !important;}
.point2 {color:#264063 !important;}



/*table*/
span.result {display:block; padding:30px; text-align:center; color:#666;}

table.bsearch {width:100%;}
table.bsearch th {text-align:left; padding:0; font-weight:bold;}
table.bsearch td {text-align:left; padding:0;}
table.bsearch td img {vertical-align:middle;}

table.type {margin-top:10px; width:100%; table-layout:fixed; border-bottom:1px solid #ccc; padding-top:2px;}
table.type.tline {margin-top:20px; border-top:2px solid #afafaf;}
table.type th {background:#f4f4f4; padding:15px 0; color:#000;}
table.type th.line_b {padding:9px 0; border-bottom:1px solid #e3e3e3;}
table.type td {padding:10px 0 10px 0; text-align:center; color:#000; border-top:1px solid #ccc;}
table.type td.etc {padding:0; text-align:left; background:#f4f4f4;}
table.type td.etc2 {padding:0; text-align:left; background:#fff;}

table.type1 {margin-top:15px; width:100%; border-top:2px solid #afafaf;}
table.type1 th {color:#000; padding:10px 0 10px 0; border-bottom:1px solid #ccc; background:#f4f4f4;}
table.type1 th.left {padding:10px 4px 10px 9px; text-align:left; }
table.type1 td {padding:10px 4px 10px 9px; color:#000; border-bottom:1px solid #ccc; line-height:13px;}
table.type1 td.left {padding-left:15px; text-align:left;}
table.type1 td.left2 {padding:0; text-align:left; }

table.type2 {margin-top:15px; width:100%; border-top:2px solid #afafaf;}
table.type2 th {background:#f4f4f4;  color:#000; padding:10px 4px 10px 30px; text-align:left;  border-bottom:1px solid #ccc;}
table.type2 td {padding:10px 4px 10px 27px; color:#000; border-bottom:1px solid #ccc; line-height:13px;}
table.type2 td.tt {line-height:22px;}

table.type3 {margin-top:20px; width:100%; table-layout:fixed; border-top:2px solid #afafaf;}
table.type3.line {margin-top:0; border-top:1px solid #afafaf;}
table.type3.etc {margin-top:0; border-top:0;}
table.type3 th {background:#f4f4f4; padding:10px 0; color:#000; border-bottom:1px solid #ccc;}
table.type3 td {padding:10px 0 10px 0; text-align:center; color:#000; border-bottom:1px solid #ccc; line-height:13px;}
table.type3 td.btn {padding:0;}

table.type_line {margin-top:30px; width:100%; border-top:2px solid #afafaf;}
table.type_line th {background:#f4f4f4; background:#f4f4f4; color:#000; padding:10px 0 10px 0; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
table.type_line td {padding:10px 4px 10px 20px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; line-height:18px;}
table.type_line th.sta {border-left:0;}
table.type_line td.sta {border-left:0; font-weight:bold; text-align:center; color:#000;}
table.type_line td.sta2 {padding-left:0; border-left:0; font-weight:bold; text-align:center; color:#000;}

table.member {margin-top:15px; width:100%; border-top:2px solid #afafaf;}
table.member.etc {border:1px solid #d0d0d0; border-top:2px solid #afafaf;}
table.member.etc2 {border-top:1px solid #afafaf;}
table.member th {padding:15px 0 12px 25px; color:#000; text-align:left; background:#f4f4f4; border-bottom:1px solid #d0d0d0;}
table.member td {padding:4px 0 5px 20px; color:#000; background:#fff; border-bottom:1px solid #d0d0d0;}
table.member td span.stxt {padding-left:10px;}
table.member td span.tt {padding-left:10px;}
table.member td input {vertical-align:middle;}
table.member td img {vertical-align:middle;}
table.member td.address {}
table.member td.address div{padding-top:8px;}

table.board_list {margin-top:15px; width:100%; border-top:2px solid #afafaf;}
table.board_list th {background:#f4f4f4; padding:14px 0; color:#000; border-bottom:1px solid #ccc;}
table.board_list td {padding:12px 0 12px 0; text-align:center; color:#000; border-bottom:1px solid #ccc;}
table.board_list td.btn {padding:0;}
table.board_list td.subject {padding-left:10px; text-align:left;}
table.board_list td a {color:#000;}
table.board_list td a:hover {color:#000; text-decoration:underline;}

a.link {color:#000;}

table.board_view {margin-top:25px; width:100%; border-top:2px solid #afafaf;}
table.board_view th {padding:13px 0 12px 0; color:#333; background:#f4f4f4; border-bottom:1px solid #ccc;}
table.board_view td {padding:13px 0 12px 0; text-align:center; color:#333; border-bottom:1px solid #ccc;}
	table.board_view td.left {padding-left:15px; text-align:left;}
	table.board_view td.cont {padding:30px; text-align:left; line-height:20px; color:#666;}
	table.board_view td.cont2 {padding:20px 0 20px 15px; text-align:left; line-height:20px;}
	table.board_view td a {color:#333;}
	table.board_view td a:hover {text-decoration:underline;}

table.board_list2 {margin-top:0; width:100%; }
table.board_list2 th {padding:14px 0 11px 0; text-align:center; color:#333; border-bottom:1px solid #ccc;}
table.board_list2 td {padding:14px 0 12px 15px; color:#333; border-bottom:1px solid #ccc;}
	table.board_list2 td a {color:#333;}
	table.board_list2 td a:hover {text-decoration:underline;}

table.board_write {margin-top:25px; width:100%; border-top:2px solid #afafaf;}
table.board_write th {padding:15px 0 12px 0; color:#333; background:#f7f7f7; border-bottom:1px solid #ccc;}
table.board_write td {padding:5px 0 5px 10px; color:#333; border-bottom:1px solid #ccc;}
table.board_write td.mail {padding:12px 0 14px 15px; color:#000;}
table.board_write td.mail p {padding-top:8px; color:#ff6969;}


/* Paging */
div.paging {margin:30px 0 0 0; text-align:center;}
div.paging a,
div.paging strong {display:inline-block; height:17px; min-width:20px; padding:5px 1px 0 1px; border:1px solid #fff; color:#333; font-weight:bold; vertical-align:top;}
	div.paging a:hover,
	div.paging strong {background:#2b7ccd; color:#fff; text-decoration:none;}
	div.paging a.first,
	div.paging a.prev,
	div.paging a.next,
	div.paging a.last {height:22px; width:22px; padding:0; border:1px solid #cacaca;}


/*button*/
div.btn_center {margin-top:30px; text-align:center;}
div.btn_center img {vertical-align:top; padding:0 2px;}

div.rbtn {float:right; margin-top:-20px;}
div.rbtn2 {float:right; margin-top:-30px;}
div.rbtn2 img, div.rbtn img {vertical-align:top;}


div.btn_r {margin-top:10px; text-align:right;}
div.btn_r img {vertical-align:top;}


/*etc*/
.chk {padding:10px 0 0 12px; font-weight:bold; color:#000;}
.chk_r {padding:10px 0 0 12px; font-weight:bold; color:#000; text-align:right;}


p.des {margin-top:5px; padding:0 0 0 15px; line-height:20px;}
p.des2 {margin-top:8px; padding:0 0 0 28px; line-height:20px;}

span.essential {display:block; margin-top:25px; padding:0 10px 0 0; text-align:right;}
span.essential2 {float:right; margin-top:-14px;}
span.essential3 {display:block; text-align:right;}


p.message {margin-top:50px; padding:30px 0 30px 0; text-align:center; border:2px solid #66b1f5;}
p.message2 {margin-top:40px; padding:25px 0 25px 0; text-align:center; border:2px solid #66b1f5;}
p.message3 {margin-top:10px; padding:16px 0 13px 0; text-align:center; border:2px solid #66b1f5;}
p.messages {margin-top:30px; padding:20px 0; font-size:16px; line-height:20px; font-weight:bold; color:#ff0000; text-align:center; border:2px solid #66b1f5;}



p.text_01 {padding:0 0 15px 35px; color:#c34141; font-size:12px;}
p.text_02 {padding:22px 0 0 0; color:#000;}
p.text_03 {padding:15px 0 0 0; color:#000; text-align:center;}
p.text_04 {padding:5px 0 0 0; color:#000;}


div.load {display:none; position:fixed; top:0; left:0; width:100%; height:100%; z-index:2000; text-align:center;  background:url(../images/common/load_bg.png) repeat 0 0;}
div.load div.pic {margin-top:15%;}