* {
	margin : 0;
	padding: 0;
	list-style:none;
	/* color:#a0a3a2; */
	/* font-family:times, '돋음'; */
	/* font-size:19px; */
	line-height:1.5;
	box-sizing : border-box;
	text-decoration : none;
}
body { 
	/* padding-top: 120px; */
	font-family: "Noto Sans KR", sans-serif; 
    min-height:100%;
    min-width: 100%;
}

content{
	position: relative;
	top:140px;
    width: 100%;
}
