* {
	margin : 0;
	padding: 0;
	list-style:none;
	/* color:#a0a3a2; */
	/* font-family:times, '돋음'; */
	/* font-size:19px; */
	/* line-height:1.5; */
	/* box-sizing : border-box; */
	text-decoration : none;
}
body { 
	/* padding-top: 120px; */
	font-family: "Noto Sans KR", sans-serif; 
    min-height:100%;
    min-width: 100%;
}

content{
	position: relative;
	top: 180px;
	width: 100%;
	height:100vh;
    border: 1px solid #f99;
}

.busList{
    width: 1200px;
    margin: 0 auto;
    
}

.gofrom{
	width: 350px;
	height: 50px;
	border: 1px solid #2b4868;
	background: #2b4868;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: whitesmoke;
	font-size: 18px;
	text-align: center;
}

.allpaper{
	height: 100%;
	width: 100%;
	border: 3px solid #2b4868;
	
}

.singleTrans {
	display: grid;
	margin-top: 10px;
	grid-template-columns: 1fr 50px 1fr;

}
.startday {
	width: 150px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 5px;
	border: 2px dotted #2b4868;
	color: #2b4868;
	font-weight: bold;
	text-align: center;
}

table{
	width: 100%;
	margin: auto;
	background: whitesmoke;
	text-align: center;
	border-collapse: collapse;
}


th{
	
	padding: 20px;
	background: whitesmoke;
	color: black;
}

td{
	border-top: 1px solid #7b7f83;

	padding: 20px 0px 20px 0px;
	background:white;
}


#busseatlayer {
	display: none;

}


#busseatlayer td{
   padding: 0px;
}

.paper {
	width: 1180px;
	height: 600px;
    background: whitesmoke;
	display: grid;
	grid-template-areas: 100px 300px 100px;
	text-align: left;
}

.paperdiv {
	display: grid;
	grid-template-columns: 150px 1fr 100px;
	margin-top: 20px;
	margin-left: 20px;
	
}

.hidden{
	margin-left: 50px;
}



input[type="button"]{
	width: 30px;
	height: 30px;
}

.noty{
	margin-bottom: 20px;

}
.noty ul>li{
	list-style: disc;
	margin: 5px;
}

div.seatbox {
	background: rgb(253, 253, 253);
	height: 250px;
	width: 950px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
}

.seatline {
	width: 60px;
	float:left;
	margin: 10px;
	margin-top: 35px;	
	margin-left: 20px;
}

.seatnoty {
	float:left;
	margin: 10px;
	margin-top: 30px;	
	margin-left: 50px;
}

.check{
	margin-top: 20px;
}


.seatbox::after {
	content: '';
	display: block;
	clear: both;
	
}


.seatline>p {
	width: 200px;
	margin-top: 20px;
	display: block;

}

label{
	line-height: 30px;
	position: relative;
	top: -10px;
	
}

input[type="checkbox"] {
	width: 30px;
	height: 30px;
	margin: 5px;
	
}

.point1 {
	color: red;
}



.blank {
	margin: 44.5px;
}

  /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 3px solid #2b4868;
	width: 55%; /* Could be more or less, depending on screen size */   
	height: 65%;                       
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/*모달 안의 내용*/
.yoguem {
	
	margin-bottom: 10px; 
	padding: 10px;
}

.yoguem hr {
   color:  rgb(209, 209, 209);
   
 }
.yoguem table{
	text-align: center;
	border-top: 2px solid rgb(179, 179, 179);
	width: 90%;
	margin: auto;
	border-collapse: collapse;
	margin-top: 20px;
	margin-bottom: 25px;

}
.yoguem th, .yoguem td{
	 /* font-size: 10px; */
	 border-bottom: 1px solid rgb(218, 218, 218);
	padding: 10px;
 }
.yoguem th {
	background: whitesmoke;
} 
 
.noty{
	
	display: inline;
}
