body * {
    margin: 20px;
    font: 30px sans-serif ;
}
.one{
    font-family: monospace;
}
.two{
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300&display=swap" rel="stylesheet">

}

