*{
     list-style: none;
     text-align: center;
     padding: 0;
     text-decoration: none;
     color: yellow;
     font-size: 30px;
     font-weight: bold;


      
}



 li{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    line-height: 150%;
    background: burlywood;
    margin: 10px;
    display: inline-block;
    font: 0 0 bold; 

}


ul li ul li{
    display: none;
}

li:hover{
    background: brown;
    display: flex;
}
li>ul:hover{
   
}

