*{
     list-style: none;
     text-align: center;
     padding: 0;
      
}

.mainLnb{
    
}

 li{
    width: 150px;
    height: 50px;
    margin: 
    border: 1px solid black;
    margin: 10px;
    float: left;
    font: 0 0 bold; 

}

ul li ul li{
    display: none;
}
