div{
    background: rgb(182, 220, 255); 

}

ul{
    list-style: none;
    padding: 0px;
    font-size: 50px;
    
    
}



#stickies {
    
    
   
    display: grid;
    grid-gap: 10px;
    transition-duration: 2s;
   
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
}

li{
    background: blueviolet;
    display: grid;
    width: 100px;
    height: 150px;
    overflow: hidden;
    box-shadow: 10px 10px 5px 5px #666;
    
}

#stickies>li:nth-child(3n+1) {
    background: coral;
    transform: rotateZ(10deg);
    
}
#stickies>li:nth-child(3n+2) {
    background: violet;
    transform: rotateZ(-10deg);
}
#stickies>li:nth-child(3n) {
    background: blanchedalmond;
    transform: rotateZ(10deg);
}


#stickies>li:nth-child(3n+1):hover {
    
    transform: rotateZ(0deg);
    
}

#stickies>li:nth-child(3n+2):hover {
   
    transform: rotateZ(0deg);
}
#stickies>li:nth-child(3n):hover {
   
    transform: rotateZ(0deg);
}