ul{
    list-style: none;
    padding: 0px;
}



#stickies {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
}

li{
    background: blueviolet;
    display: grid;
    
    width: 150px;
    height: 200px;
}