ul{
    list-style: none;
    padding: 0px;
    font-size: 60px;
    
}



#stickies {
    width: 90%;
    height: 800px;
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    justify-items: 
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
}

li{
    background: blueviolet;
    display: grid;
    width: 150px;
    height: 200px;
    overflow: hidden;
    
}

#stickies>li:nth-child(3n+1) {
    background: coral;
}
#stickies>li:nth-child(3n+2) {
    background: violet;
}
#stickies>li:nth-child(3n) {
    background: blanchedalmond;
}


