ul{
    list-style: none;
    padding: 0px;
}



#stickies {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(13, 1fr);
}